/* MIXINS */

.inlineblock {
	display: inline-block;
	vertical-align: top;
	
	zoom: 1 !ie;
	display: inline !ie;
}

.clearfix {
    *zoom: ~"expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif')";
    zoom: 1 !ie;
    
    &:before,
	&:after {
		content: "";
		display: table;
	}
	
	&:after {
		clear: both;
	}
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}

.text-shadow (@string) {
	-webkit-text-shadow: @string;
	-moz-text-shadow:    @string;
    text-shadow:         @string;
}

.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
	transition:      @transition;
}

.transform (@transform) {
	-webkit-transform: @transform;
	-moz-transform:    @transform;
	-ms-transform:     @transform;
	-o-transform:      @transform;
    transform:      @transform;
}

.opacity(@opacity: 1) {
	@ieOpacity: @opacity * 100;
	filter: ~"alpha(opacity=@{ieOpacity})";
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ieOpacity})";
	opacity: @opacity;
}

.size(@width, @height) {
    @unit: 'em';
    .process(@width, @height) when (ispixel(@width)), (isem(@width)), (ispercentage(@width)), (iskeyword(@width)) {
        .kittens(@height) when (ispixel(@height)), (isem(@height)), (ispercentage(@height)), (iskeyword(@height)) {
            width: @width;
            height: @height;
        }
        .kittens(@height) when not (ispixel(@height)) and not (isem(@height)) and not (ispercentage(@height)) and not (iskeyword(@height)) {
            width: @width;
            height: ~`@{height} + @{unit}`;
        }
        .kittens(@height);
    }

    .process(@width, @height) when (ispixel(@height)), (isem(@height)), (ispercentage(@height)), (iskeyword(@height)) {
        .kittens(@width) when (ispixel(@width)), (isem(@width)), (ispercentage(@width)), (iskeyword(@width)) {}
        .kittens(@width) when not (ispixel(@width)) and not (isem(@width)) and not (ispercentage(@width)) and not (iskeyword(@width)) {
            width: ~`@{width} + @{unit}`;
            height: @height;
        }
        .kittens(@width);
    }

    .process(@width, @height) when not (ispixel(@width)) and not (isem(@width)) and not (ispercentage(@width)) and not (iskeyword(@width)) and not (ispixel(@height)) and not (isem(@height)) and not (ispercentage(@height)) and not (iskeyword(@height))  {
        width: ~`@{width} + @{unit}`;
        height: ~`@{height} + @{unit}`;
    }

    .process(@width, @height);

}